*::before,
*::after{
  box-sizing: border-box;
}
*{
 margin: 0;
}

html,body{
  height: 100%;
}
body{
  font-family: cursive;
  line-height: 1.5;
  color:black;
  background-color: rgb(152, 139, 139);
  overflow-x: hidden;
}


img,svg{
  display: block;
  max-width: 100%;
}

.css-46bh2p-MuiCardContent-root {
  
  padding: 3px !important;
}

